/*CSS albumPage stylesheet*/
ul {
    ;color:greenyellow;
    font-style: italic;
}
body {
    background-image: url(http://img09.deviantart.net/af20/i/2011/041/8/5/seamless_wood_planks_texture_by_10ravens-d3991v1.jpg); background-repeat: repeat;
}
caption {
    color:darkolivegreen; font-weight: bold; font-size: 20px;
}
tbody {
    color:greenyellow;
    font-style: italic;
    background-color: darkolivegreen
            }
thead {
    color: greenyellow;
    font-style: italic;
    background-color: green
}
a {
    text-decoration: none
}
a:hover {
    text-decoration: underline;
    background-color: black;
    color: limegreen;
}
