/*CSS styles sheet for Restaurant Project v2*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');
#header {
	height: 100px;
    color: yellow;background: 
    linear-gradient(to left,yellow,red);
    font-family:'Orbitron',cursive;
    text-align: center;
}
#footer {
    color: red;
    background:linear-gradient(to right, orange, yellow, pink); 
    font-family: cursive;
    font-size: 18px;
}