/*CSS albumPage stylesheet*/
ul {
    ;color:greenyellow;
    font-style: italic
}
body {
    background-image: url(http://img09.deviantart.net/af20/i/2011/041/8/5/seamless_wood_planks_texture_by_10ravens-d3991v1.jpg); background-repeat: repeat;
}
caption {
    color:limegreen; font-weight: bold; font-size: 20px;
}
table {
    color:greenyellow;
            }