/*CSS albumPage stylesheet*/
ul {
    color:greenyellow;
    font-style: italic;
}
caption {
    font-weight: bold; 
    font-size: 20px;
}
tbody {
    color:darkgreen;
    font-style: italic;
    background-color: lightgreen;
}
thead {
    color: greenyellow;
    font-style: italic;
    background-color: darkgreen;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: green;
    color: limegreen;
}
