/*CSS styles sheet for Restaurant Project v2*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');
.header {
    color: yellow;background: linear-gradient(to left,yellow,red);font-family:'Orbitron',cursive;
}
.footer {
    color: coral;background: linear-gradient(to right, orange, red);
}
a {
    text-decoration: none;
    color: crimson;
}
a:visited {
    color: blueviolet;
}
a:hover {
    font-weight: bold;
}
