/*CSS albumPage stylesheet*/

ul {
    ;color:darkgreen;
}
body {
    background-color: greenyellow;
}
img {
    border: 20px green solid;
}
caption {
    color:indigo; 
    font-weight: bold; 
    font-size: 20px;
}
table {
    color:indigo;
            }
